[submodule ".bash/z"]
	path = .bash/libs/z
	url = https://github.com/rupa/z.git
[submodule ".bash/completion/git-aware-prompt"]
	path = .bash/libs/git-aware-prompt
	url = git@github.com:jimeh/git-aware-prompt.git
