# correct typos
[help]
  autocorrect = 1

[alias]
	a = add
	A = add -A
	br = branch
	c = commit
	ca = commit --amend
	cl = clone
	co = checkout
	d = diff
	ds = diff --staged
	del = branch -D
	f = fetch
	graph = log --graph --pretty=oneline --abbrev-commit --decorate --all
	l = log
	last = log -1 HEAD
	m = merge
	mt = mergetool
	p = push
	pu = pull
	r = reset --soft HEAD^
	re = rebase
	s = status
	sa = submodule add
	si = submodule init
	su = submodule update
	ss = submodule status

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current

# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[mergetool]
	keepBackup = false
