! bg/fg
*background: #FDF6E3
*foreground: #6f8389

! colors
!! Taken from GNOME Terminal "Tango" theme.
*color0:  #000000
*color8:  #555753
*color1:  #CC0000
*color9:  #EF2929
*color2:  #4E9A06
*color10: #8AE234
*color3:  #C4A000
*color11: #FCE94F
*color4:  #3465A4
*color12: #729FCF
*color5:  #75507B
*color13: #AD7FA8
*color6:  #06989A
*color14: #34E2E2
*color7:  #D3D7CF
*color15: #EEEEEC

! Xft
Xft*dpi:       96
Xft*antialias: true
Xft*hinting:   true
Xft*hintstyle: hintfull
Xft*rgba:      rgb

! xterm
xterm*geometry:     100x40
xterm*faceName:     Anonymous Pro:pixelsize=14
xterm*scrollBar:    false
xterm*charClass:    33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:38
xterm*backarrowKey: false

! urxvt
urxvt*geometry:        100x40
urxvt*font:            xft:Anonymous Pro:size=11
urxvt*scrollBar:       false
urxvt*perl-ext-common: default,matcher
urxvt*urlLauncher:     firefox
urxvt*matcher.button:  1